<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./tests/bootstrap.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  >
  <testsuites>
    <testsuite name="Main test suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Turn on all errors - using a large integer means all bit fields should be set -->
    <ini name="error_reporting" value="2147483647"/>
    <const name="ERROR_REPORTING" value="2147483647"/>
    <const name="WEB_SERVER_HOST" value="localhost" />
    <const name="WEB_SERVER_PORT" value="8080" />
    <const name="WEB_SERVER_DOCROOT" value="./src/htdocs" />
    <const name="WEB_SERVER_BASE_URL" value="http://localhost:8080"/>
    <const name="WEB_SERVER_DELAY" value="5" />
    <const name="WEB_SERVER_ROUTER" value="./src/router.php"/>
    <const name="OPEN_BADGES_DB_PATH" value="./data/test.db"/>
  </php>
</phpunit>
